* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 16px
}

nav {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #191a1d;
    padding: 0 15px
}

a {
    color: #fff;
    text-decoration: none
}

.menu,
.submenu {
    z-index: 100;
    list-style-type: none
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0
}

.item {
    padding: 10px
}

.item a:hover::after,
.item:not(.button) a:hover {
    color: #ccc
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.menu li a {
    display: block;
    padding: 15px 5px
}

.toggle {
    order: 1;
    font-size: 20px
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none
}

.active .item {
    display: block
}

.submenu {
    display: none
}

.submenu-active .submenu {
    display: block
}

.submenu-active {
    background-color: #111;
    border-radius: 3px
}

.hideMultisearch {
    display:none;
}

@media all and (min-width:900px) {
    .menu {
        justify-content: space-evenly
    }

    .logo {
        flex: 1
    }

    .toggle {
        flex: 1;
        order: 2
    }
}

@media all and (min-width:960px) {
    nav {
        background-color: #191a1d87
    }

    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: 0 0
    }

    .logo {
        order: 0
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111
    }

    .toggle {
        display: none
    }

    .hideMultisearch {
        display:inline;
    }

    .submenu-active {
        border-radius: 0
    }
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

figure,
footer,
main,
menu,
nav,
section {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

figure {
    margin: 1em 40px
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

select {
    color: inherit;
    font: inherit;
    margin: 0
}

select {
    text-transform: none
}

th {
    padding: 0
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

body,
html {
    height: 100%
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #fff
}

.icon {
    display: inline-block
}

.presentation {
    width: 100%;
    height: 100%;
    background: url(https://lytical.app/images/background.jpg) 0 50% no-repeat;
    background-size: cover;
    text-align: center;
    position: relative
}

.presentation .logo {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0
}

.presentation .logo img {
    height: 65px;
    margin: 0 auto;
    margin-bottom: 35px;
    display: block
}

.presentation .logo h1 {
    margin: 0 auto;
    width: 310px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400
}

.presentation .logo h1 strong {
    font-weight: 600
}

.presentation .cta {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}

.presentation .cta .download {
    display: block;
    width: 200px;
    height: 55px;
    font-size: 13px;
    line-height: 55px;
    font-weight: 700;
    background: #3e73b1;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .1s ease;
    text-decoration: none
}

.presentation .cta .download .fa {
    color: #fff;
    font-size: 16px;
    line-height: 55px;
    margin-right: 3px
}

.presentation .cta .download:hover {
    opacity: .9
}

.presentation .cta .all,
.presentation .cta .fork {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    border-bottom: dotted 2px #86888f;
    cursor: pointer;
    transition: all .3s ease
}

.presentation .cta .all:hover,
.presentation .cta .fork:hover {
    border-color: #fff
}

.presentation .screen_presentation {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0
}

.presentation .screen_presentation img {
    max-width: 40%;
    height: auto;
    width: auto;
}

@media screen and (max-width:800px) {
    .presentation {
        height: 100%
    }

    .presentation .cta {
        top: 75%
    }

    .presentation .screen_presentation {
        display: none
    }
}

@media screen and (max-width:384px) {
    .presentation {
        height: 100%
    }

    .presentation .logo {
        top: 17%
    }

    .presentation .logo h1 {
        max-width: 90%
    }
}

body {
    background: #333
}

*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px
    }

    25% {
        top: 2px
    }

    50% {
        top: 3px
    }

    75% {
        top: 2px
    }

    100% {
        top: 1px
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px
    }

    25% {
        top: 2px
    }

    50% {
        top: 3px
    }

    75% {
        top: 2px
    }

    100% {
        top: 1px
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px
    }

    25% {
        top: 2px
    }

    50% {
        top: 3px
    }

    75% {
        top: 2px
    }

    100% {
        top: 1px
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

.faq {
    background-color: #111
}

.download {
    width: 100%;
    height: 100%;
    background: #080808
}

@media screen and (max-width:768px) {
    .download {
        height: 60%
    }
}

@media screen and (max-width:667px) {
    .download {
        height: 100%
    }
}

footer {
    background: #080808;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: FontAwesome;
    src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0)
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fa-ul>li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-bars:before {
    content: "\f0c9"
}

.fa-windows:before {
    content: "\f17a"
}

.fa-close:before,
.fa-remove:before,
.fa-times:before {
    content: "\f00d"
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVc.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1x4gaVc.ttf) format('truetype')
}